@import "~/src/scss/scss/index.scss";

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 25px;
    margin-bottom: 20px;
    


    >img {
        height: 150px !important;
        width: 150px !important;
        border-radius: 25px !important;
        border: 2px dashed $primary !important;


        &:hover {
            cursor: pointer;
            opacity: 0.6;
        }

        

    }
    >div {
                width: 100%;
                height: 100%;
                border-radius: 25px !important;
                border: 2px dashed $primary !important;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    cursor: pointer;
                    opacity: 0.6;
                }
            }




}